.board {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  border: 10px solid tan;
  width: 400px;
  height: 400px;
  &__box {
    width: 90px;
    height: 90px;
    border: 5px solid red;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
