.board__box {
  width: 90px;
  height: 90px;
  border: 5px solid tan;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--2 {
    background: #eee4da;
    color: grey;
  }

  &--4 {
    background: #ece0ca;
    color: grey;
  }
  &--8 {
    background: lightsalmon;
    color: whitesmoke;
  }
  &--16 {
    background-color: rgb(212, 119, 83);
    color: whitesmoke;
  }

  &--32 {
    background-color: #f57c5f;
    color: whitesmoke;
  }

  &--64 {
    background-color: #f75f3b;
    color: whitesmoke;
  }

  &--128 {
    background-color: #edd073;
    color: whitesmoke;
  }

  &--256 {
    background-color: #edcc62;
    color: whitesmoke;
  }

  &--512 {
    background-color: #edc950;
    color: whitesmoke;
  }

  &--1024 {
    background-color: #edc53f;
    color: whitesmoke;
  }

  &--2048 {
    background-color: #edc22e;
    color: whitesmoke;
  }
  &--updated {
    animation: magnify 0.3s ease;
  }

  @keyframes magnify {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
