@use "./variables";

.info-icon {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color: variables.$info-color;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.info-icon:hover + .info-box {
  display: block;
}
.info-box {
  display: none;
  position: absolute;
  top: 60px;
  left: 20px;
  width: 250px;
  background-color: variables.$info-color;
  padding: 10px;
  border-radius: 7px;
  p {
    margin-bottom: 25px;
    font-weight: bold;
    background-color: transparent;
  }
  ul {
    li {
      background-color: variables.$info-color;
      list-style-type: none;
      font-size: 12px;
      text-align: center;
      padding: 5px 0;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      }
    }
  }
}
