@use "./variables";

.info-icon:hover + .info-box {
  display: block;
}
.info-box {
  display: none;
  position: absolute;
  top: 60px;
  left: 20px;
  width: 250px;
  background-color: variables.$info-color;
  padding: 10px;
  border-radius: 5px;
  p {
    margin-bottom: 25px;
    font-weight: bold;
    background-color: variables.$info-color;
  }
  ul {
    li {
      background-color: variables.$info-color;
      list-style-type: none;
      font-size: 12px;
      text-align: center;
      padding: 5px 0;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      }
    }
  }
}
