@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    margin-left: 70px;
    margin-top: 90px;
    margin-bottom: -40px;
  }
  .board {
    width: 300px;
    height: 300px;

    &__box {
      width: 65px;
      height: 65px;
      font-size: 30px;
      border-width: 5px;
      &--updated {
        animation: magnify 0.3s ease;
      }

      @keyframes magnify {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
  .score-box {
    display: flex;

    font-size: 15px;
    margin-right: 30px;
    span {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .info-icon {
    display: none;
  }
  .info-box {
    display: none;
  }
}
