.score-box {
  z-index: 1000;
  font-family: "Madimi One";
  margin-bottom: -20px;
  margin-left: 145px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid beige;
  border-radius: 8px;
  font-size: 19px;
  color: rgb(105, 99, 89);
}

span {
  color: rgb(139, 115, 83);
  z-index: 1000;
  font-family: "Madimi One";
  background-color: transparent;
  font-size: 22px;
}
