.score-box {
  z-index: 1000;
  font-family: "Madimi One";
  margin-bottom: -20px;
  margin-left: 145px;
  padding: 10px;
  background-color: tan;
  border: 1px solid beige;
  border-radius: 8px;
  font-size: 19px;
  color: white;
  width: 15%;
}

span {
  z-index: 1000;
  font-family: "Madimi One";
  background-color: tan;
  font-size: 22px;
}
